[package]
name = "gurk"
description = "Signal messenger client for terminal"
version = "0.4.0"
authors = ["boxdot <d@zerovolt.org>"]
edition = "2021"
keywords = ["signal", "tui"]
repository = "https://github.com/boxdot/gurk-rs"
license = "AGPL-3.0-only"
categories = ["command-line-utilities"]
resolver = "2"

[workspace]
members = ["xtask"]

[profile.dev.package.miniz_oxide]
# This speeds up `cargo xtask dist`.
opt-level = 3

[profile.release]
debug = 0
lto = "thin"

[profile.bench]
debug = true

[features]
dev = ["prost", "base64"]

[dependencies]
presage = { git = "https://github.com/whisperfish/presage", rev = "0.5.1" }
presage-store-sled = { git = "https://github.com/whisperfish/presage", rev = "0.5.1" }

anyhow = "1.0.66"
async-trait = "0.1.58"
chrono = { version = "0.4.22", default-features = false, features = ["serde"] }
crossterm = { version = "0.25.0", features = ["event-stream"] }
derivative = "2.2.0"
dirs = "4.0.0"
emoji = "0.2.1"
gh-emoji = "1.0.7"
hostname = "0.3.1"
itertools = "0.10.5"
log-panics = "2.1.0"
mime_guess = "2.0.4"
notify-rust = "4.5.10"
opener = "0.5.0"
phonenumber = "0.3.1"
regex-automata = "0.1.10"
scopeguard = "1.1.0"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
textwrap = "0.16.0"
tokio = { version = "1.21.2", default-features = false, features = ["rt-multi-thread", "macros", "net", "time"] }
tokio-stream = "0.1.11"
toml = "0.5.9"
tui = { version = "0.19.0", default-features = false, features = ["crossterm"] }
unicode-width = "0.1.10"
uuid = { version = "1.2", features = ["v4"] }
whoami = "1.2.3"
tracing = "0.1.37"
tracing-appender = "0.2.2"
tracing-subscriber = "0.3.16"
futures-channel = "0.3.25"
qr2term = "0.3.1"
clap = { version = "4.0.19", features = ["derive"] }
aho-corasick = "0.7.19"

# dev feature dependencies
prost = { version = "0.10.4", optional = true }
base64 = { version = "0.13.1", optional = true }
arboard = { version = "3.2.0", features = ["wayland-data-control"] }

[dev-dependencies]
criterion = { version = "0.4", features = ["async_tokio", "html_reports"] }
insta = { version = "1.21.0", features = ["json"] }
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
tempfile = "3.3.0"

[[bench]]
name = "app"
harness = false

# [patch."https://github.com/whisperfish/presage.git"]
# presage = { path = "../presage" }

# [patch."https://github.com/whisperfish/libsignal-service-rs"]
# libsignal-service = { path = "../libsignal-service-rs/libsignal-service" }
# libsignal-service-hyper = { path = "../libsignal-service-rs/libsignal-service-hyper" }

# [patch."https://github.com/signalapp/libsignal-client"]
# libsignal-protocol = { path = "../libsignal-client/rust/protocol" }

[patch.crates-io]
# signal-protocol uses a fork of this library via the patch mechanism of cargo.
# Since it is not transitive, we have to add the patch here explicitly.
"curve25519-dalek" = { git = 'https://github.com/signalapp/curve25519-dalek', branch = 'lizard2' }
