[package]
name = "gurk"
description = "Signal messenger client for terminal"
version = "0.2.0"
authors = ["boxdot <d@zerovolt.org>"]
edition = "2018"
keywords = ["signal", "tui"]
repository = "https://github.com/boxdot/gurk-rs"
license = "MIT OR Apache-2.0"
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.40"
chrono = { version = "0.4.19", features = ["serde"] }
crossterm = { version = "0.18.0", features = ["event-stream"] }
derivative = "2.2.0"
dirs = "3.0.2"
hostname = "0.3.1"
itertools = "0.10.0"
log = "0.4.14"
log-panics = "2.0.0"
log4rs = "1.0.0"
notify-rust = "4.4.0"
scopeguard = "1.1.0"
serde = { version = "1.0.125", features = ["derive"] }
serde_json = "1.0.64"
structopt = "0.3.21"
textwrap = "0.13.4"
tokio = { version = "1.5.0", default-features = false, features = ["rt-multi-thread", "macros"] }
tokio-stream = "0.1.5"
toml = "0.5.8"
tui = { version = "0.14.0", default-features = false, features = ["crossterm"] }
unicode-width = "0.1.8"
uuid = "0.8.2"
whoami = "1.1.2"

libsignal-protocol = { git = "https://github.com/Michael-F-Bryan/libsignal-protocol-rs" }
libsignal-service = { git = "https://github.com/Michael-F-Bryan/libsignal-service-rs" }
presage = { git = "https://github.com/whisperfish/presage.git", rev = "1ede250" }
